interactions:
- request:
    body: '{"location": "CentralUSEUAP", "tags": {"product": "azurecli", "cause":
      "automation", "date": "2018-05-19T02:11:05Z"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/vmss_low_pri000001?api-version=2016-02-01
  response:
    body: {string: '{"error":{"code":"LocationNotAvailableForResourceGroup","message":"The
        provided location ''CentralUSEUAP'' is not available for resource group. List
        of available regions is ''centralus,eastasia,southeastasia,eastus,eastus2,westus,westus2,northcentralus,southcentralus,westcentralus,northeurope,westeurope,japaneast,japanwest,brazilsouth,australiasoutheast,australiaeast,westindia,southindia,centralindia,canadacentral,canadaeast,uksouth,ukwest,koreacentral,koreasouth,francecentral''."}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-failure-cause: [gateway]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 400, message: Bad Request}
version: 1
