interactions:
- request:
    body: '{"tags": {"product": "azurecli", "cause": "automation", "date": "2019-02-26T22:11:52Z"},
      "location": "westus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2018-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2019-02-26T22:11:52Z"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: '{"properties": {"supportsHttpsTrafficOnly": false}, "sku": {"name": "Standard_RAGRS"},
      "kind": "Storage", "location": "westus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002?api-version=2017-10-01
  response:
    body: {string: ''}
    headers:
      content-type: [text/plain; charset=utf-8]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus/asyncoperations/1eb01887-f4f7-496d-b670-95d824d476e0?monitor=true&api-version=2017-10-01']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus/asyncoperations/1eb01887-f4f7-496d-b670-95d824d476e0?monitor=true&api-version=2017-10-01
  response:
    body: {string: '{"sku":{"name":"Standard_RAGRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002","name":"clitest000002","type":"Microsoft.Storage/storageAccounts","location":"westus","tags":{},"properties":{"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":false,"encryption":{"services":{"file":{"enabled":true,"lastEnabledTime":"2019-02-26T22:11:55.1659430Z"},"blob":{"enabled":true,"lastEnabledTime":"2019-02-26T22:11:55.1659430Z"}},"keySource":"Microsoft.Storage"},"provisioningState":"Succeeded","creationTime":"2019-02-26T22:11:54.9002705Z","primaryEndpoints":{"blob":"https://clitest000002.blob.core.windows.net/","queue":"https://clitest000002.queue.core.windows.net/","table":"https://clitest000002.table.core.windows.net/","file":"https://clitest000002.file.core.windows.net/"},"primaryLocation":"westus","statusOfPrimary":"available","secondaryLocation":"eastus","statusOfSecondary":"available","secondaryEndpoints":{"blob":"https://clitest000002-secondary.blob.core.windows.net/","queue":"https://clitest000002-secondary.queue.core.windows.net/","table":"https://clitest000002-secondary.table.core.windows.net/"}}}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2017-10-01
  response:
    body: {string: '{"keys":[{"keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'}
    headers:
      content-type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
[...]
- request:
    body: 'b''{"TableName": "table000003"}'''
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Tue, 26 Feb 2019 22:12:15 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://clitest000002.table.core.windows.net/Tables
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://clitest4hyg7ph6j3t6fqqxn.table.core.windows.net/Tables(''tableja2noakvpyyjkq2f4dg'')']
      location: ['https://clitest000002.table.core.windows.net/Tables(''table000003'')']
      preference-applied: [return-no-content]
      x-ms-version: ['2017-04-17']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Tue, 26 Feb 2019 22:12:15 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://clitest000002.table.core.windows.net/Tables('table000003')
  response:
    body: {string: '{"TableName":"table000003"}'}
    headers:
      content-type: [application/json;odata=nometadata;streaming=true;charset=utf-8]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"value": "something", "binaryProperty": "AAECAwQF", "RowKey": "001", "PartitionKey":
      "001", "binaryProperty@odata.type": "Edm.Binary", "name": "test"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Tue, 26 Feb 2019 22:12:16 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://clitest000002.table.core.windows.net/table000003
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://clitest4hyg7ph6j3t6fqqxn.table.core.windows.net/tableja2noakvpyyjkq2f4dg(PartitionKey=''001'',RowKey=''001'')']
      etag: [W/"datetime'2019-02-26T22%3A12%3A16.5060381Z'"]
      location: ['https://clitest000002.table.core.windows.net/table000003(PartitionKey=''001'',RowKey=''001'')']
      preference-applied: [return-no-content]
      x-ms-version: ['2017-04-17']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Tue, 26 Feb 2019 22:12:16 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://clitest000002.table.core.windows.net/table000003(PartitionKey='001',RowKey='001')
  response:
    body: {string: '{"odata.metadata":"https://clitest000002.table.core.windows.net/$metadata#table000003/@Element","odata.etag":"W/\"datetime''2019-02-26T22%3A12%3A16.5060381Z''\"","PartitionKey":"001","RowKey":"001","Timestamp":"2019-02-26T22:12:16.5060381Z","value":"something","binaryProperty@odata.type":"Edm.Binary","binaryProperty":"AAECAwQF","name":"test"}'}
    headers:
      content-type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      etag: [W/"datetime'2019-02-26T22%3A12%3A16.5060381Z'"]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Tue, 26 Feb 2019 22:12:17 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://clitest000002.table.core.windows.net/table000003(PartitionKey='001',RowKey='001')?%24select=name
  response:
    body: {string: '{"odata.metadata":"https://clitest000002.table.core.windows.net/$metadata#table000003/@Element&$select=name","odata.etag":"W/\"datetime''2019-02-26T22%3A12%3A16.5060381Z''\"","name":"test"}'}
    headers:
      content-type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      etag: [W/"datetime'2019-02-26T22%3A12%3A16.5060381Z'"]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
- request:
    body: '{"RowKey": "001", "value": "newval", "name": "test", "PartitionKey": "001"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      If-Match: ['*']
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Tue, 26 Feb 2019 22:12:17 GMT']
      x-ms-version: ['2017-04-17']
    method: MERGE
    uri: https://clitest000002.table.core.windows.net/table000003(PartitionKey='001',RowKey='001')
  response:
    body: {string: ''}
    headers:
      etag: [W/"datetime'2019-02-26T22%3A12%3A17.530423Z'"]
      x-ms-version: ['2017-04-17']
    status: {code: 204, message: No Content}
[...]
- request:
    body: '{"RowKey": "001", "cat": "hat", "PartitionKey": "001"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      If-Match: ['*']
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Tue, 26 Feb 2019 22:12:18 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://clitest000002.table.core.windows.net/table000003(PartitionKey='001',RowKey='001')
  response:
    body: {string: ''}
    headers:
      etag: [W/"datetime'2019-02-26T22%3A12%3A18.2739601Z'"]
      x-ms-version: ['2017-04-17']
    status: {code: 204, message: No Content}
[...]
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Tue, 26 Feb 2019 22:12:19 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://clitest000002.table.core.windows.net/table000003(PartitionKey='001',RowKey='001')
  response:
    body: {string: '{"odata.error":{"code":"ResourceNotFound","message":{"lang":"en-US","value":"The
        specified resource does not exist.\nRequestId:22068b89-5002-002a-4820-cef4fa000000\nTime:2019-02-26T22:12:19.2625405Z"}}}'}
    headers:
      content-type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      x-ms-version: ['2017-04-17']
    status: {code: 404, message: Not Found}
[...]
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Tue, 26 Feb 2019 22:12:20 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://clitest000002.table.core.windows.net/table000003()?%24top=1
  response:
    body: {string: '{"odata.metadata":"https://clitest000002.table.core.windows.net/$metadata#table000003","value":[{"odata.etag":"W/\"datetime''2019-02-26T22%3A12%3A20.2466141Z''\"","PartitionKey":"001","RowKey":"001","Timestamp":"2019-02-26T22:12:20.2466141Z","value":"something","binaryProperty@odata.type":"Edm.Binary","binaryProperty":"AAECAwQF","name":"test"}]}'}
    headers:
      content-type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      x-ms-continuation-nextpartitionkey: [1!4!MDAy]
      x-ms-continuation-nextrowkey: [1!4!MDAy]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Tue, 26 Feb 2019 22:12:20 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://clitest000002.table.core.windows.net/table000003()?NextPartitionKey=1%214%21MDAy&NextRowKey=1%214%21MDAy
  response:
    body: {string: '{"odata.metadata":"https://clitest000002.table.core.windows.net/$metadata#table000003","value":[{"odata.etag":"W/\"datetime''2019-02-26T22%3A12%3A19.9757513Z''\"","PartitionKey":"002","RowKey":"002","Timestamp":"2019-02-26T22:12:19.9757513Z","value":"something2","name":"test2"}]}'}
    headers:
      content-type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Tue, 26 Feb 2019 22:12:21 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://clitest000002.table.core.windows.net/table000003?comp=acl
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><SignedIdentifiers\
        \ />"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <SignedIdentifiers><SignedIdentifier><Id>test1</Id><AccessPolicy><Permission>a</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>'
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Tue, 26 Feb 2019 22:12:38 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://clitest000002.table.core.windows.net/table000003?comp=acl
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2017-04-17']
    status: {code: 204, message: No Content}
[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <SignedIdentifiers><SignedIdentifier><Id>test1</Id><AccessPolicy><Permission>a</Permission></AccessPolicy></SignedIdentifier><SignedIdentifier><Id>test2</Id><AccessPolicy><Start>2016-01-01T00:00Z</Start></AccessPolicy></SignedIdentifier></SignedIdentifiers>'
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Tue, 26 Feb 2019 22:12:38 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://clitest000002.table.core.windows.net/table000003?comp=acl
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2017-04-17']
    status: {code: 204, message: No Content}
[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <SignedIdentifiers><SignedIdentifier><Id>test1</Id><AccessPolicy><Permission>a</Permission></AccessPolicy></SignedIdentifier><SignedIdentifier><Id>test3</Id><AccessPolicy><Expiry>2018-01-01T00:00Z</Expiry></AccessPolicy></SignedIdentifier><SignedIdentifier><Id>test2</Id><AccessPolicy><Start>2016-01-01T00:00:00Z</Start></AccessPolicy></SignedIdentifier></SignedIdentifiers>'
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Tue, 26 Feb 2019 22:12:39 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://clitest000002.table.core.windows.net/table000003?comp=acl
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2017-04-17']
    status: {code: 204, message: No Content}
[...]
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Tue, 26 Feb 2019 22:12:50 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://clitest000002-secondary.table.core.windows.net/?restype=service&comp=stats
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><StorageServiceStats><GeoReplication><Status>live</Status><LastSyncTime>Tue,\
        \ 26 Feb 2019 22:10:19 GMT</LastSyncTime></GeoReplication></StorageServiceStats>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2018-05-01
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTElURVNUOjJFUkdQRExITjVUSExaT0JBSE5PU0ZRTDI2SUM0NUdXWUYzNFhQWnw4MUZEMjQ1NEQ3OUMwNjlCLVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2018-05-01']
      x-ms-ratelimit-remaining-subscription-deletes: ['14999']
    status: {code: 202, message: Accepted}
version: 1
