interactions:
- request:
    body: '{"tags": {"product": "azurecli", "cause": "automation", "date": "2019-02-26T22:11:20Z"},
      "location": "westus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2018-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2019-02-26T22:11:20Z"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 201, message: Created}
- request:
    body: '{"properties": {"supportsHttpsTrafficOnly": false}, "sku": {"name": "Standard_LRS"},
      "kind": "Storage", "location": "westus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002?api-version=2017-10-01
  response:
    body: {string: ''}
    headers:
      content-type: [text/plain; charset=utf-8]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus/asyncoperations/8e8db709-7cbb-4290-9a36-8c20690cb356?monitor=true&api-version=2017-10-01']
      x-ms-ratelimit-remaining-subscription-writes: ['1195']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus/asyncoperations/8e8db709-7cbb-4290-9a36-8c20690cb356?monitor=true&api-version=2017-10-01
  response:
    body: {string: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002","name":"clitest000002","type":"Microsoft.Storage/storageAccounts","location":"westus","tags":{},"properties":{"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":false,"encryption":{"services":{"file":{"enabled":true,"lastEnabledTime":"2019-02-26T22:11:21.8922015Z"},"blob":{"enabled":true,"lastEnabledTime":"2019-02-26T22:11:21.8922015Z"}},"keySource":"Microsoft.Storage"},"provisioningState":"Succeeded","creationTime":"2019-02-26T22:11:21.7672280Z","primaryEndpoints":{"blob":"https://clitest000002.blob.core.windows.net/","queue":"https://clitest000002.queue.core.windows.net/","table":"https://clitest000002.table.core.windows.net/","file":"https://clitest000002.file.core.windows.net/"},"primaryLocation":"westus","statusOfPrimary":"available"}}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2017-10-01
  response:
    body: {string: '{"keys":[{"keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'}
    headers:
      content-type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 26 Feb 2019 22:11:42 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003?restype=share
  response:
    body: {string: ''}
    headers:
      etag: ['"0x8D69C37638E9CEF"']
      last-modified: ['Tue, 26 Feb 2019 22:11:42 GMT']
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 26 Feb 2019 22:11:42 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://clitest000002.file.core.windows.net/share000003?restype=share&comp=acl
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><SignedIdentifiers\
        \ />"}
    headers:
      content-type: [application/xml]
      etag: ['"0x8D69C37638E9CEF"']
      last-modified: ['Tue, 26 Feb 2019 22:11:42 GMT']
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <SignedIdentifiers><SignedIdentifier><Id>test1</Id><AccessPolicy><Permission>l</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>'
    headers:
      x-ms-date: ['Tue, 26 Feb 2019 22:11:43 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003?restype=share&comp=acl
  response:
    body: {string: ''}
    headers:
      etag: ['"0x8D69C376445542D"']
      last-modified: ['Tue, 26 Feb 2019 22:11:43 GMT']
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <SignedIdentifiers><SignedIdentifier><Id>test1</Id><AccessPolicy><Permission>l</Permission></AccessPolicy></SignedIdentifier><SignedIdentifier><Id>test2</Id><AccessPolicy><Start>2016-01-01T00:00Z</Start></AccessPolicy></SignedIdentifier></SignedIdentifiers>'
    headers:
      x-ms-date: ['Tue, 26 Feb 2019 22:11:44 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003?restype=share&comp=acl
  response:
    body: {string: ''}
    headers:
      etag: ['"0x8D69C3764D04825"']
      last-modified: ['Tue, 26 Feb 2019 22:11:44 GMT']
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <SignedIdentifiers><SignedIdentifier><Id>test1</Id><AccessPolicy><Permission>l</Permission></AccessPolicy></SignedIdentifier><SignedIdentifier><Id>test3</Id><AccessPolicy><Expiry>2018-01-01T00:00Z</Expiry></AccessPolicy></SignedIdentifier><SignedIdentifier><Id>test2</Id><AccessPolicy><Start>2016-01-01T00:00:00Z</Start></AccessPolicy></SignedIdentifier></SignedIdentifiers>'
    headers:
      x-ms-date: ['Tue, 26 Feb 2019 22:11:45 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003?restype=share&comp=acl
  response:
    body: {string: ''}
    headers:
      etag: ['"0x8D69C3765478968"']
      last-modified: ['Tue, 26 Feb 2019 22:11:45 GMT']
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2018-05-01
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTElURVNUOjJFUkdBUkNMREhISU5BUjVPN1JTSEVBSUFMNlRLNFlDTUJQSUlWRnwxQ0QxMTY4NUY0OTQ4RUQxLVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2018-05-01']
      x-ms-ratelimit-remaining-subscription-deletes: ['14997']
    status: {code: 202, message: Accepted}
version: 1
