interactions:
- request:
    body: '{"location": "westus", "tags": {"date": "2018-05-15T21:47:56Z", "product":
      "azurecli", "cause": "automation"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_ag_basic000001?api-version=2016-02-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic000001","name":"cli_test_ag_basic000001","location":"westus","tags":{"date":"2018-05-15T21:47:56Z","product":"azurecli","cause":"automation"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?api-version=2016-02-01&$filter=resourceGroup%20eq%20%27cli_test_ag_basic000001%27%20and%20name%20eq%20%27None%27%20and%20resourceType%20eq%20%27Microsoft.Network%2FvirtualNetworks%27
  response:
    body: {string: '{"value":[]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: 'b''{"properties": {"template": {"contentVersion": "1.0.0.0", "resources":
      [{"name": "ag1Vnet", "properties": {"subnets": [{"name": "default", "properties":
      {"addressPrefix": "10.0.0.0/24"}}], "addressSpace": {"addressPrefixes": ["10.0.0.0/16"]}},
      "dependsOn": [], "location": "westus", "tags": {}, "apiVersion": "2015-06-15",
      "type": "Microsoft.Network/virtualNetworks"}, {"name": "ag1", "properties":
      {"frontendPorts": [{"name": "appGatewayFrontendPort", "properties": {"Port":
      80}}], "backendHttpSettingsCollection": [{"name": "appGatewayBackendHttpSettings",
      "properties": {"Protocol": "Http", "Port": 80, "CookieBasedAffinity": "disabled"}}],
      "httpListeners": [{"name": "appGatewayHttpListener", "properties": {"Protocol":
      "http", "SslCertificate": null, "FrontendIpConfiguration": {"Id": "[concat(variables(\''appGwID\''),
      \''/frontendIPConfigurations/appGatewayFrontendIP\'')]"}, "FrontendPort": {"Id":
      "[concat(variables(\''appGwID\''), \''/frontendPorts/appGatewayFrontendPort\'')]"}}}],
      "backendAddressPools": [{"name": "appGatewayBackendPool"}], "requestRoutingRules":
      [{"properties": {"backendHttpSettings": {"id": "[concat(variables(\''appGwID\''),
      \''/backendHttpSettingsCollection/appGatewayBackendHttpSettings\'')]"}, "httpListener":
      {"id": "[concat(variables(\''appGwID\''), \''/httpListeners/appGatewayHttpListener\'')]"},
      "backendAddressPool": {"id": "[concat(variables(\''appGwID\''), \''/backendAddressPools/appGatewayBackendPool\'')]"},
      "RuleType": "Basic"}, "Name": "rule1"}], "gatewayIPConfigurations": [{"name":
      "appGatewayFrontendIP", "properties": {"subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic000001/providers/Microsoft.Network/virtualNetworks/ag1Vnet/subnets/default"}}}],
      "sku": {"name": "Standard_Medium", "capacity": 2, "tier": "Standard"}, "frontendIPConfigurations":
      [{"name": "appGatewayFrontendIP", "properties": {"privateIPAllocationMethod":
      "Dynamic", "privateIPAddress": "", "subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic000001/providers/Microsoft.Network/virtualNetworks/ag1Vnet/subnets/default"}}}]},
      "tags": {}, "location": "westus", "apiVersion": "2015-06-15", "dependsOn": ["Microsoft.Network/virtualNetworks/ag1Vnet"],
      "type": "Microsoft.Network/applicationGateways"}], "variables": {"appGwID":
      "[resourceId(\''Microsoft.Network/applicationGateways\'', \''ag1\'')]"}, "$schema":
      "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "parameters": {}, "outputs": {"applicationGateway": {"value": "[reference(\''ag1\'')]",
      "type": "object"}}}, "mode": "Incremental", "parameters": {}}}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_ag_basic000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2016-02-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic000001/providers/Microsoft.Resources/deployments/ag_deploy_MQBHj8vyN12fhLUaJCvxdqEurwpoRvN9","name":"ag_deploy_MQBHj8vyN12fhLUaJCvxdqEurwpoRvN9","properties":{"templateHash":"11653526175040853894","parameters":{},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2018-05-15T21:47:58.9200074Z","duration":"PT0.4961091S","correlationId":"beec4d17-7709-4931-89f2-ab1abb2b62f7","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["westus"]},{"resourceType":"applicationGateways","locations":["westus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic000001/providers/Microsoft.Network/virtualNetworks/ag1Vnet","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"ag1Vnet"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic000001/providers/Microsoft.Network/applicationGateways/ag1","resourceType":"Microsoft.Network/applicationGateways","resourceName":"ag1"}]}}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_ag_basic000001/providers/Microsoft.Resources/deployments/ag_deploy_MQBHj8vyN12fhLUaJCvxdqEurwpoRvN9/operationStatuses/08586751860070537216?api-version=2016-02-01']
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1196']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic000001/providers/Microsoft.Network/applicationGateways/ag1?api-version=2015-06-15
  response:
    body: {string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Network/applicationGateways/ag1''
        under resource group ''cli_test_ag_basic000001'' was not found."}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-failure-cause: [gateway]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic000001/providers/Microsoft.Network/applicationGateways/ag1?api-version=2015-06-15
  response:
    body: {string: "{\r\n  \"name\": \"ag1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic000001/providers/Microsoft.Network/applicationGateways/ag1\"\
        ,\r\n  \"etag\": \"W/\\\"cf571d07-f51f-48ab-a9d0-c01dd59e8db4\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/applicationGateways\",\r\n  \"location\":\
        \ \"westus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\"\
        : \"Updating\",\r\n    \"resourceGuid\": \"cdbc1694-54b5-4a27-a7a2-3f4fd198addf\"\
        ,\r\n    \"sku\": {\r\n      \"name\": \"Standard_Medium\",\r\n      \"tier\"\
        : \"Standard\",\r\n      \"capacity\": 2\r\n    },\r\n    \"gatewayIPConfigurations\"\
        : [\r\n      {\r\n        \"name\": \"appGatewayFrontendIP\",\r\n        \"\
        id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic000001/providers/Microsoft.Network/applicationGateways/ag1/gatewayIPConfigurations/appGatewayFrontendIP\"\
        ,\r\n        \"etag\": \"W/\\\"cf571d07-f51f-48ab-a9d0-c01dd59e8db4\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Updating\"\
        ,\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic000001/providers/Microsoft.Network/virtualNetworks/ag1Vnet/subnets/default\"\
        \r\n          }\r\n        }\r\n      }\r\n    ],\r\n    \"sslCertificates\"\
        : [],\r\n    \"authenticationCertificates\": [],\r\n    \"frontendIPConfigurations\"\
        : [\r\n      {\r\n        \"name\": \"appGatewayFrontendIP\",\r\n        \"\
        id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic000001/providers/Microsoft.Network/applicationGateways/ag1/frontendIPConfigurations/appGatewayFrontendIP\"\
        ,\r\n        \"etag\": \"W/\\\"cf571d07-f51f-48ab-a9d0-c01dd59e8db4\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Updat[...]
[...]
- request:
    body: 'b''{"location": "westus", "tags": {"foo": "doo"}, "properties": {"urlPathMaps":
      [], "frontendPorts": [{"name": "appGatewayFrontendPort", "properties": {"provisioningState":
      "Updating", "port": 80}, "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic000001/providers/Microsoft.Network/applicationGateways/ag1/frontendPorts/appGatewayFrontendPort",
      "etag": "W/\\"cf571d07-f51f-48ab-a9d0-c01dd59e8db4\\""}], "backendHttpSettingsCollection":
      [{"name": "appGatewayBackendHttpSettings", "properties": {"provisioningState":
      "Updating", "requestTimeout": 30, "protocol": "Http", "port": 80, "cookieBasedAffinity":
      "Disabled"}, "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic000001/providers/Microsoft.Network/applicationGateways/ag1/backendHttpSettingsCollection/appGatewayBackendHttpSettings",
      "etag": "W/\\"cf571d07-f51f-48ab-a9d0-c01dd59e8db4\\""}], "backendAddressPools":
      [{"name": "appGatewayBackendPool", "properties": {"provisioningState": "Updating",
      "backendAddresses": []}, "etag": "W/\\"cf571d07-f51f-48ab-a9d0-c01dd59e8db4\\"",
      "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic000001/providers/Microsoft.Network/applicationGateways/ag1/backendAddressPools/appGatewayBackendPool"}],
      "httpListeners": [{"name": "appGatewayHttpListener", "properties": {"frontendPort":
      {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic000001/providers/Microsoft.Network/applicationGateways/ag1/frontendPorts/appGatewayFrontendPort"},
      "requireServerNameIndication": false, "protocol": "Http", "frontendIPConfiguration":
      {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic000001/providers/Microsoft.Network/applicationGateways/ag1/frontendIPConfigurations/appGatewayFrontendIP"},
      "provisioningState": "Updating"}, "etag": "W/\\"cf571d07-f51f-48ab-a9d0-c01dd59e8db4\\"",
      "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic000001/providers/Microsoft.Network/applicationGateways/ag1/httpListeners/appGatewayHttpListener"}],
      "probes": [], "requestRoutingRules": [{"name": "rule1", "properties": {"backendAddressPool":
      {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic000001/providers/Microsoft.Network/applicationGateways/ag1/backendAddressPools/appGatewayBackendPool"},
      "provisioningState": "Updating", "ruleType": "Basic", "backendHttpSettings":
      {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic000001/providers/Microsoft.Network/applicationGateways/ag1/backendHttpSettingsCollection/appGatewayBackendHttpSettings"},
      "httpListener": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic000001/providers/Microsoft.Network/applicationGateways/ag1/httpListeners/appGatewayHttpListener"}},
      "etag": "W/\\"cf571d07-f51f-48ab-a9d0-c01dd59e8db4\\"", "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic000001/providers/Microsoft.Network/applicationGateways/ag1/requestRoutingRules/rule1"}],
      "sku": {"name": "Standard_Small", "capacity": 3, "tier": "Standard"}, "resourceGuid":
      "cdbc1694-54b5-4a27-a7a2-3f4fd198addf", "sslCertificates": [], "provisioningState":
      "Updating", "gatewayIPConfigurations": [{"name": "appGatewayFrontendIP", "properties":
      {"provisioningState": "Updating", "subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic000001/providers/Microsoft.Network/virtualNetworks/ag1Vnet/subnets/default"}},
      "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic000001/providers/Microsoft.Network/applicationGateways/ag1/gate[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic000001/providers/Microsoft.Network/applicationGateways?api-version=2015-06-15
  response:
    body: {string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"ag1\",\r\n \
        \     \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_te[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_ag_basic000001?api-version=2016-02-01
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTEk6NUZURVNUOjVGQUc6NUZCQVNJQ0dRS0hRRFpYUEUyM09XVkZSNEE2VDZRU3xCOUZEMTdGNjhFNERBNUZCLVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2016-02-01']
      x-ms-ratelimit-remaining-subscription-deletes: ['14999']
    status: {code: 202, message: Accepted}
version: 1
