interactions:
- request:
    body: '{"location": "westus", "tags": {"date": "2018-05-15T22:48:05Z", "product":
      "azurecli", "cause": "automation"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_extended_nsg000001?api-version=2016-02-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_extended_nsg000001","name":"cli_test_extended_nsg000001","location":"westus","tags":{"date":"2018-05-15T22:48:05Z","product":"azurecli","cause":"automation"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
[...]
- request:
    body: '{"location": "westus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_extended_nsg000001/providers/Microsoft.Network/networkSecurityGroups/nsg1?api-version=2015-06-15
  response:
    body: {string: "{\r\n  \"name\": \"nsg1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_extended_nsg000001/providers/Microsoft.Network/networkSecurityGroups/nsg1\"\
        ,\r\n  \"etag\": \"W/\\\"c604fd2b-a872-43c0-aec2-b7b06d3f3d0c\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/networkSecurityGroups\",\r\n  \"location\"\
        : \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\"\
        ,\r\n    \"resourceGuid\": \"2578c544-15e5-4c86-b8bc-0961d04b5196\",\r\n \
        \   \"securityRules\": [],\r\n    \"defaultSecurityRules\": [\r\n      {\r\
        \n        \"name\": \"AllowVnetInBound\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_extended_nsg000001/providers/Microsoft.Network/networkSecurityGroups/nsg1/defaultSecurityRules/AllowVnetInBound\"\
        ,\r\n        \"etag\": \"W/\\\"c604fd2b-a872-43c0-aec2-b7b06d3f3d0c\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Updating\"\
        ,\r\n          \"description\": \"Allow inbound traffic from all VMs in VNET\"\
        ,\r\n          \"protocol\": \"*\",\r\n          \"sourcePortRange\": \"*\"\
        ,\r\n          \"destinationPortRange\": \"*\",\r\n          \"sourceAddressPrefix\"\
        : \"VirtualNetwork\",\r\n          \"destinationAddressPrefix\": \"VirtualNetwork\"\
        ,\r\n          \"access\": \"Allow\",\r\n          \"priority\": 65000,\r\n\
        \          \"direction\": \"Inbound\"\r\n        }\r\n      },\r\n      {\r\
        \n        \"name\": \"AllowAzureLoadBalancerInBound\",\r\n        \"id\":\
        \ \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_extended_nsg000001/providers/Microsoft.Network/networkSecurityGroups/nsg1/defaultSecurityRules/AllowAzureLoadBalancerInBound\"\
        ,\r\n        \"etag\": \"W/\\\"c604fd2b-a872-43c0-aec2-b7b06d3f3d0c\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioning[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/b1aaf8ed-cd93-4efd-9bf9-6c0ecfae3054?api-version=2015-06-15
  response:
    body: {string: "{\r\n  \"status\": \"Succeeded\"\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_extended_nsg000001?api-version=2016-02-01
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTEk6NUZURVNUOjVGRVhURU5ERUQ6NUZOU0dBS1g2V0hWUFFZU0RPWlBQUVFBTnxDREQ3QTUyOUE5MjU2OEE2LVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2016-02-01']
      x-ms-ratelimit-remaining-subscription-deletes: ['14999']
    status: {code: 202, message: Accepted}
version: 1
