interactions:
- request:
    body: '{"location": "westus", "tags": {"date": "2019-02-27T23:53:58Z", "product":
      "azurecli", "cause": "automation"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2018-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"westus","tags":{"date":"2019-02-27T23:53:58Z","product":"azurecli","cause":"automation"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: 'b''{"properties": {"lockLevel": "None", "authorizations": [{"roleDefinitionId":
      "8e3af657-a8ff-443c-a75c-2fe8c4bcb635", "principalId": "5e91139a-c94b-462e-a6ff-1ee95e8aac07"}],
      "packageFileUri": "https://testclinew.blob.core.windows.net/files/vivekMAD.zip",
      "displayName": "test_appdef000003", "description": "test_appdef_123"}, "location":
      "eastus"}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Solutions/applicationDefinitions/testappdefname000002?api-version=2017-09-01
  response:
    body: {string: '{"error":{"code":"MissingSubscriptionRegistration","message":"The
        subscription is not registered to use namespace ''Microsoft.Solutions''. See
        https://aka.ms/rps-not-found for how to register subscriptions.","details":[{"code":"MissingSubscriptionRegistration","target":"Microsoft.Solutions","message":"The
        subscription is not registered to use namespace ''Microsoft.Solutions''. See
        https://aka.ms/rps-not-found for how to register subscriptions."}]}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-failure-cause: [gateway]
    status: {code: 409, message: Conflict}
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Solutions/register?api-version=2016-02-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Solutions","namespace":"Microsoft.Solutions","authorization":{"applicationId":"ba4bc2bd-843f-4d61-9d33-199178eae34e","roleDefinitionId":"6cb99a0b-29a8-49bc-b57b-057acc68cd9a","managedByRoleDefinitionId":"9e3af657-a8ff-583c-a75c-2fe7c4bcb635","managedByAuthorization":{"managedByResourceRoleDefinitionId":"9e3af657-a8ff-583c-a75c-2fe7c4bcb635"}},"resourceTypes":[{"resourceType":"appliances","locations":["West
        Central US"],"apiVersions":["2016-09-01-preview"],"capabilities":"None"},{"resourceType":"applianceDefinitions","locations":["West
        Central US"],"apiVersions":["2016-09-01-preview"],"capabilities":"None"},{"resourceType":"applications","locations":["South
        Central US","North Central US","West Central US","West US","West US 2","East
        US","East US 2","Central US","West Europe","North Europe","East Asia","Southeast
        Asia","Brazil South","Japan West","Japan East","Australia East","Australia
        Southeast","South India","West India"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Solutions?api-version=2016-02-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Solutions","namespace":"Microsoft.Solutions","authorization":{"applicationId":"ba4bc2bd-843f-4d61-9d33-199178eae34e","roleDefinitionId":"6cb99a0b-29a8-49bc-b57b-057acc68cd9a","managedByRoleDef[...]
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2018-05-01
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTElURVNUOjJFUkdNNVlHRjVUNlhCVUtGMkNGNjdVNVlMN0JUSUZBWk5aWkJFRHw3Q0FBOTA1RUI3QjZGN0NBLVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2018-05-01']
      x-ms-ratelimit-remaining-subscription-deletes: ['14998']
    status: {code: 202, message: Accepted}
version: 1
