interactions:
- request:
    body: '{"location": "westus", "tags": {"date": "2019-02-27T23:48:15Z", "product":
      "azurecli", "cause": "automation"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_policy_management_group000001?api-version=2018-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_policy_management_group000001","name":"cli_test_policy_management_group000001","location":"westus","tags":{"date":"2019-02-27T23:48:15Z","product":"azurecli","cause":"automation"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Management/register?api-version=2018-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Management","namespace":"Microsoft.Management","authorization":{"applicationId":"f2c304cf-8e7e-4c3f-8164-16299ad9d272","roleDefinitionId":"c1cf3708-588a-4647-be7f-f400bbe214cf"},"resourceTypes":[{"resourceType":"resources","locations":[],"apiVersions":["2017-11-01-preview","2017-08-31-preview","2017-06-30-preview","2017-05-31-preview"]},{"resourceType":"managementGroups","locations":[],"apiVersions":["2018-03-01-preview","2018-03-01-beta","2018-01-01-preview","2017-11-01-preview","2017-08-31-preview","2017-06-30-preview","2017-05-31-preview"]},{"resourceType":"getEntities","locations":[],"apiVersions":["2018-03-01-preview","2018-03-01-beta","2018-01-01-preview"]},{"resourceType":"checkNameAvailability","locations":[],"apiVersions":["2018-03-01-preview","2018-03-01-beta","2018-01-01-preview"]},{"resourceType":"operationResults","locations":[],"apiVersions":["2018-03-01-preview","2018-03-01-beta","2018-01-01-preview"]},{"resourceType":"operations","locations":[],"apiVersions":["2018-03-01-preview","2018-03-01-beta","2018-01-01-preview","2017-11-01-preview","2017-08-31-preview","2017-06-30-preview","2017-05-31-preview"]},{"resourceType":"tenantBackfillStatus","locations":[],"apiVersions":["2018-03-01-preview","2018-03-01-beta"]},{"resourceType":"startTenantBackfill","locations":[],"apiVersions":["2018-03-01-preview","2018-03-01-beta"]}],"registrationState":"Registered"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Management?api-version=2018-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Management","namespace":"Microsoft.Management","authorization":{"applicationId":"f2c304cf-8e7e-4c3f-8164-16299ad9d272","roleDefinitionId":"c1cf3708-588a-4647-be7f-f400bbe214cf"},"resourceType[...]
- request:
    body: 'b''{"name": "cli-test-mgmt-group000002", "properties": {"details": {"parent":
      {}}}}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/providers/Microsoft.Management/managementGroups/cli-test-mgmt-group000002?api-version=2018-03-01-preview
  response:
    body: {string: '{"id":"/providers/Microsoft.Management/managementGroups/cli-test-mgmt-group000002","type":"/providers/Microsoft.Management/managementGroups","name":"cli-test-mgmt-group000002","status":"NotStarted"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      location: ['https://management.azure.com/providers/Microsoft.Management/operationResults/create/managementGroups/cli-test-mgmt-group000002?api-version=2018-03-01-preview']
      x-ba-restapi: [1.0.3.1286]
      x-ms-ratelimit-remaining-tenant-writes: ['1199']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Management/operationResults/create/managementGroups/cli-test-mgmt-group000002?api-version=2018-03-01-preview
  response:
    body: {string: '{"id":"/providers/Microsoft.Management/managementGroups/cli-test-mgmt-group000002","type":"/providers/Microsoft.Management/managementGroups","name":"cli-test-mgmt-group000002","status":"Succeeded","properties":{"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","displayName":"cli-test-mgmt-group000002","details":{"version":1,"updatedTime":"2019-02-27T23:48:32.8912059Z","updatedBy":"8427ce23-08f2-4510-b6e2-99644db7f94e","parent":{"id":"/providers/Microsoft.Management/managementGroups/72f988bf-86f1-41af-91ab-2d7cd011db47","name":"72f988bf-86f1-41af-91ab-2d7cd011db47","displayName":"72f988bf-86f1-41af-91ab-2d7cd011db47"}}}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ba-restapi: [1.0.3.1286]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/providers/Microsoft.Management/managementGroups/cli-test-mgmt-group000002?api-version=2018-03-01-preview
  response:
    body: {string: '{"id":"/providers/Microsoft.Management/managementGroups/cli-test-mgmt-group000002","type":"/providers/Microsoft.Management/managementGroups","name":"cli-test-mgmt-group000002","status":"NotStarted"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      location: ['https://management.azure.com/providers/Microsoft.Management/operationResults/delete/managementGroups/cli-test-mgmt-group000002?api-version=2018-03-01-preview']
      x-ba-restapi: [1.0.3.1286]
      x-ms-ratelimit-remaining-tenant-deletes: ['14999']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Management/operationResults/delete/managementGroups/cli-test-mgmt-group000002?api-version=2018-03-01-preview
  response:
    body: {string: '{"id":"/providers/Microsoft.Management/managementGroups/cli-test-mgmt-group000002","type":"/providers/Microsoft.Management/managementGroups","name":"cli-test-mgmt-group000002","status":"Succeeded"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ba-restapi: [1.0.3.1286]
    status: {code: 200, message: OK}
[...]
