interactions:
- request:
    body: '{"tags": {"date": "2018-07-21T02:00:37Z", "product": "azurecli", "cause":
      "automation"}, "location": "westus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_msi_no_scope000001?api-version=2018-02-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_msi_no_scope000001","name":"cli_test_msi_no_scope000001","location":"westus","tags":{"date":"2018-07-21T02:00:37Z","product":"azurecli","cause":"automation"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-compute/quickstart-templates/aliases.json
  response:
    body: {string: "{\n  \"$schema\":\"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json\"\
        ,\n  \"contentVersion\":\"1.0.0.0\",\n  \"parameters\":{},\n  \"variables\"\
        :{},\n  \"resources\":[],\n\n  \"outputs\":{\n    \"aliases\":{\n      \"\
        type\":\"object\",\n      \"value\":{\n\n        \"Linux\":{\n          \"\
        CentOS\":{\n            \"publisher\":\"OpenLogic\",\n            \"offer\"\
        :\"CentOS\",\n            \"sku\":\"7.3\",\n            \"version\":\"latest\"\
        \n          },\n          \"CoreOS\":{\n            \"publisher\":\"CoreOS\"\
        ,\n            \"offer\":\"CoreOS\",\n            \"sku\":\"Stable\",\n  \
        \          \"version\":\"latest\"\n          },\n          \"Debian\":{\n\
        \            \"publisher\":\"credativ\",\n            \"offer\":\"Debian\"\
        ,\n            \"sku\":\"8\",\n            \"version\":\"latest\"\n      \
        \    },\n          \"openSUSE-Leap\": {\n            \"publisher\":\"SUSE\"\
        ,\n            \"offer\":\"openSUSE-Leap\",\n            \"sku\":\"42.3\"\
        ,\n            \"version\": \"latest\"\n          },\n          \"RHEL\":{\n\
        \            \"publisher\":\"RedHat\",\n            \"offer\":\"RHEL\",\n\
        \            \"sku\":\"7.3\",\n            \"version\":\"latest\"\n      \
        \    },\n          \"SLES\":{\n            \"publisher\":\"SUSE\",\n     \
        \       \"offer\":\"SLES\",\n            \"sku\":\"12-SP2\",\n           \
        \ \"version\":\"latest\"\n          },\n          \"UbuntuLTS\":{\n      \
        \      \"publisher\":\"Canonical\",\n            \"offer\":\"UbuntuServer\"\
        ,\n            \"sku\":\"16.04-LTS\",\n            \"version\":\"latest\"\n\
        \          }\n        },\n\n        \"Windows\":{\n          \"Win2016Datacenter\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2016-Datacenter\",\n   \
        \         \"version\":\"latest\"\n          },\n          \"Win2012R2Datacenter\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2012-R2-Datacenter\",\n\
        \            \"version\":\"latest\"\n          },\n          \"Win2012Datacenter\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2012-Datacenter\",\n   \
        \         \"version\":\"latest\"\n          },\n          \"Win2008R2SP1\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2008-R2-SP1\",\n       \
        \     \"version\":\"latest\"\n          }\n        }\n      }\n    }\n  }\n\
        }\n"}
    headers:
      content-type: [text/plain; charset=utf-8]
      etag: ['"60d07919b4224266adafb81340896eea100dc887"']
      source-age: ['0']
      x-fastly-request-id: [e855b2819653294a27e0a3a42655c9687fa40954]
      x-geo-block-list: ['']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_msi_no_scope000001/providers/Microsoft.Network/virtualNetworks?api-version=2017-10-01
  response:
    body: {string: '{"value":[]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: 'b''{"properties": {"parameters": {"adminPassword": {"value": "PasswordPassword1!"}},
      "mode": "Incremental", "template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "variables": {}, "outputs": {}, "resources": [{"properties": {"addressSpace":
      {"addressPrefixes": ["10.0.0.0/16"]}, "subnets": [{"properties": {"addressPrefix":
      "10.0.0.0/24"}, "name": "vm1Subnet"}]}, "type": "Microsoft.Network/virtualNetworks",
      "dependsOn": [], "name": "vm1VNET", "location": "westus", "tags": {}, "apiVersion":
      "2015-06-15"}, {"properties": {"securityRules": [{"properties": {"direction":
      "Inbound", "priority": 1000, "protocol": "Tcp", "destinationAddressPrefix":
      "*", "sourceAddressPrefix": "*", "sourcePortRange": "*", "destinationPortRange":
      "22", "access": "Allow"}, "name": "default-allow-ssh"}]}, "dependsOn": [], "type":
      "Microsoft.Network/networkSecurityGroups", "name": "vm1NSG", "apiVersion": "2015-06-15",
      "tags": {}, "location": "westus"}, {"properties": {"publicIPAllocationMethod":
      null}, "dependsOn": [], "type": "Microsoft.Network/publicIPAddresses", "name":
      "vm1PublicIP", "apiVersion": "2017-10-01", "tags": {}, "location": "westus"},
      {"properties": {"networkSecurityGroup": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_msi_no_scope000001/providers/Microsoft.Network/networkSecurityGroups/vm1NSG"},
      "ipConfigurations": [{"properties": {"publicIPAddress": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_msi_no_scope000001/providers/Microsoft.Network/publicIPAddresses/vm1PublicIP"},
      "privateIPAllocationMethod": "Dynamic", "subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_msi_no_scope000001/providers/Microsoft.Network/virtualNetworks/vm1VNET/subnets/vm1Subnet"}},
      "name": "ipconfigvm1"}]}, "dependsOn": ["Microsoft.Network/virtualNetworks/vm1VNET",
      "Microsoft.Network/networkSecurityGroups/vm1NSG", "Microsoft.Network/publicIpAddresses/vm1PublicIP"],
      "type": "Microsoft.Network/networkInterfaces", "name": "vm1VMNic", "apiVersion":
      "2015-06-15", "tags": {}, "location": "westus"}, {"properties": {"osProfile":
      {"adminUsername": "admin123", "adminPassword": "[parameters(\''adminPassword\'')]",
      "computerName": "vm1"}, "networkProfile": {"networkInterfaces": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_msi_no_scope000001/providers/Microsoft.Network/networkInterfaces/vm1VMNic"}]},
      "storageProfile": {"osDisk": {"caching": "ReadWrite", "name": null, "createOption":
      "fromImage", "managedDisk": {"storageAccountType": null}}, "imageReference":
      {"offer": "Debian", "publisher": "credativ", "version": "latest", "sku": "8"}},
      "hardwareProfile": {"vmSize": "Standard_DS1_v2"}}, "dependsOn": ["Microsoft.Network/networkInterfaces/vm1VMNic"],
      "type": "Microsoft.Compute/virtualMachines", "name": "vm1", "apiVersion": "2017-03-30",
      "tags": {}, "identity": {"type": "SystemAssigned"}, "location": "westus"}],
      "contentVersion": "1.0.0.0", "parameters": {"adminPassword": {"metadata": {"description":
      "Secure adminPassword"}, "type": "securestring"}}}}}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_msi_no_scope000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2018-02-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_msi_no_scope000001/providers/Microsoft.Resources/deployments/vm_deploy_Dvu4P4pH1RRoxhaqH0GCHi5qhm3DUtyU","name":"vm_deploy_Dvu4P4pH1RRoxhaqH0GCHi5qhm3DUtyU","properties":{"templateHash":"3938301999912931452","parameters":{"adminPassword":{"type":"SecureString"}},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2018-07-21T02:00:42.1474781Z","duration":"PT1.0476168S","correlationId":"1602ef36-3840-458e-89ab-f41f6d8fcdf0","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["westus"]},{"resourceType":"networkSecurityGroups","locations":["westus"]},{"resourceType":"publicIPAddresses","locations":["westus"]},{"resourceType":"networkInterfaces","locations":["westus"]}]},{"namespace":"Microsoft.Compute","resourceTypes":[{"resourceType":"virtualMachines","locations":["westus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_msi_no_scope000001/providers/Microsoft.Network/virtualNetworks/vm1VNET","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"vm1VNET"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_msi_no_scope000001/providers/Microsoft.Network/networkSecurityGroups/vm1NSG","resourceType":"Microsoft.Network/networkSecurityGroups","resourceName":"vm1NSG"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_msi_no_scope000001/providers/Microsoft.Network/publicIPAddresses/vm1PublicIP","resourceType":"Microsoft.Network/publicIPAddresses","resourceName":"vm1PublicIP"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_msi_no_scope000001/providers/Microsoft.Network/networkInterfaces/vm1VMNic","resourceType":"Microsoft.Network/networkInterfaces","resourceName":"vm1VMNic"},{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_msi_no_scope000001/providers/Microsoft.Network/networkInterfaces/vm1VMNic","resourceType":"Microsoft.Network/networkInterfaces","resourceName":"vm1VMNic"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_msi_no_scope000001/providers/Microsoft.Compute/virtualMachines/vm1","resourceType":"Microsoft.Compute/virtualMachines","resourceName":"vm1"}]}}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_msi_no_scope000001/providers/Microsoft.Resources/deployments/vm_deploy_Dvu4P4pH1RRoxhaqH0GCHi5qhm3DUtyU/operationStatuses/08586694684443794407?api-version=2018-02-01']
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_msi_no_scope000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08586694684443794407?api-version=2018-02-01
  response:
    body: {string: '{"status":"Running"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_msi_no_scope000001/providers/Microsoft.Compute/virtualMachines/vm1?$expand=instanceView&api-version=2017-03-30
  response:
    body: {string: "{\r\n  \"properties\": {\r\n    \"vmId\": \"680b47b6-953d-4f07-92e7-a13f6d6bbefb\"\
        ,\r\n    \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_DS1_v2\"\r\
        \n    },\r\n    \"storageProfile\": {\r\n      \"imageReference\": {\r\n \
        \       \"publisher\": \"credativ\",\r\n        \"offer\": \"Debian\",\r\n\
        \        \"sku\": \"8\",\r\n        \"version\": \"latest\"\r\n      },\r\n\
        \      \"osDisk\": {\r\n        \"osType\": \"Linux\",\r\n        \"name\"\
        : \"vm1_OsDisk_1_e9da5c8ebd674f06b9d0c9d694a441c6\",\r\n        \"createOption\"\
        : \"FromImage\",\r\n        \"caching\": \"ReadWrite\",\r\n        \"managedDisk\"\
        : {\r\n          \"storageAccountType\": \"Premium_LRS\",\r\n          \"\
        id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_msi_no_scope000001/providers/Microsoft.Compute/disks/vm1_OsDisk_1_e9da5c8ebd674f06b9d0c9d694a441c6\"\
        \r\n        },\r\n        \"diskSizeGB\": 30\r\n      },\r\n      \"dataDisks\"\
        : []\r\n    },\r\n    \"osProfile\": {\r\n      \"computerName\": \"vm1\"\
        ,\r\n      \"adminUsername\": \"admin123\",\r\n      \"linuxConfiguration\"\
        : {\r\n        \"disablePasswordAuthentication\": false\r\n      },\r\n  \
        \    \"secrets\": []\r\n    },\r\n    \"networkProfile\": {\"networkInterfaces\"\
        :[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_msi_no_scope000001/providers/Microsoft.Network/networkInterfaces/vm1VMNic\"\
        }]},\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"instanceView\"\
        : {\r\n      \"vmAgent\": {\r\n        \"vmAgentVersion\": \"2.2.26\",\r\n\
        \        \"statuses\": [\r\n          {\r\n            \"code\": \"ProvisioningState/succeeded\"\
        ,\r\n            \"level\": \"Info\",\r\n            \"displayStatus\": \"\
        Ready\",\r\n            \"message\": \"Guest Agent is running\",\r\n     \
        \       \"time\": \"2018-07-21T02:03:14+00:00\"\r\n          }\r\n       \
        \ ],\r\n        \"extensionHandlers\": []\r\n      },\r\n      \"disks\":\
        \ [\r\n        {\r\n          \"name\": \"vm1_OsDisk_1_e9da5c8ebd674f06b9d0c9d694a441c6\"\
        ,\r\n          \"statuses\": [\r\n            {\r\n              \"code\"\
        : \"ProvisioningState/succeeded\",\r\n              \"level\": \"Info\",\r\
        \n              \"displayStatus\": \"Provisioning succeeded\",\r\n       \
        \       \"time\": \"2018-07-21T02:01:22.1833422+00:00\"\r\n            }\r\
        \n          ]\r\n        }\r\n      ],\r\n      \"statuses\": [\r\n      \
        \  {\r\n          \"code\": \"ProvisioningState/succeeded\",\r\n         \
        \ \"level\": \"Info\",\r\n          \"displayStatus\": \"Provisioning succeeded\"\
        ,\r\n          \"time\": \"2018-07-21T02:02:43.480097+00:00\"\r\n        },\r\
        \n        {\r\n          \"code\": \"PowerState/running\",\r\n          \"\
        level\": \"Info\",\r\n          \"displayStatus\": \"VM running\"\r\n    \
        \    }\r\n      ]\r\n    }\r\n  },\r\n  \"type\": \"Microsoft.Compute/virtualMachines\"\
        ,\r\n  \"location\": \"westus\",\r\n  \"tags\": {},\r\n  \"identity\": {\r\
        \n    \"type\": \"SystemAssigned\",\r\n    \"principalId\": \"c9bab44d-83a9-489b-a47b-84b4addccced\"\
        ,\r\n    \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\"\r\n  },\r\n\
        \  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_msi_no_scope000001/providers/Microsoft.Compute/virtualMachines/vm1\"\
        ,\r\n  \"name\": \"vm1\"\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-resource: ['Microsoft.Compute/LowCostGet3Min;4192,Microsoft.Compute/LowCostGet30Min;33513']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_msi_no_scope000001/providers/Microsoft.Network/networkInterfaces/vm1VMNic?api-version=2017-10-01
  response:
    body: {string: "{\r\n  \"name\": \"vm1VMNic\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_msi_no_scope000001/providers/Microsoft.Network/networkInterfaces/vm1VMNic\"\
        ,\r\n  \"etag\": \"W/\\\"35766f23-7467-4158-a3dc-6a84c111dc28\\\"\",\r\n \
        \ \"location\": \"westus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n\
        \    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"067a71d9-02c6-4c6e-a7ed-e8837ca7c06d\"\
        ,\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"name\": \"ipconfigvm1\"\
        ,\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_msi_no_scope000001/providers/Microsoft.Network/networkInterfaces/vm1VMNic/ipConfigurations/ipconfigvm1\"\
        ,\r\n        \"etag\": \"W/\\\"35766f23-7467-4158-a3dc-6a84c111dc28\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\"\
        ,\r\n          \"privateIPAddress\": \"10.0.0.4\",\r\n          \"privateIPAllocationMethod\"\
        : \"Dynamic\",\r\n          \"publicIPAddress\": {\r\n            \"id\":\
        \ \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_msi_no_scope000001/providers/Microsoft.Network/publicIPAddresses/vm1PublicIP\"\
        \r\n          },\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_msi_no_scope000001/providers/Microsoft.Network/virtualNetworks/vm1VNET/subnets/vm1Subnet\"\
        \r\n          },\r\n          \"primary\": true,\r\n          \"privateIPAddressVersion\"\
        : \"IPv4\",\r\n          \"isInUseWithService\": false\r\n        }\r\n  \
        \    }\r\n    ],\r\n    \"dnsSettings\": {\r\n      \"dnsServers\": [],\r\n\
        \      \"appliedDnsServers\": [],\r\n      \"internalDomainNameSuffix\": \"\
        531io5ncsyxu3bbggz5fcprvia.dx.internal.cloudapp.net\"\r\n    },\r\n    \"\
        macAddress\": \"00-0D-3A-38-2C-29\",\r\n    \"enableAcceleratedNetworking\"\
        : false,\r\n    \"enableIPForwarding\": false,\r\n    \"networkSecurityGroup\"\
        : {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_msi_no_scope000001/providers/Microsoft.Network/networkSecurityGroups/vm1NSG\"\
        \r\n    },\r\n    \"primary\": true,\r\n    \"virtualMachine\": {\r\n    \
        \  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_msi_no_scope000001/providers/Microsoft.Compute/virtualMachines/vm1\"\
        \r\n    }\r\n  },\r\n  \"type\": \"Microsoft.Network/networkInterfaces\"\r\
        \n}"}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"35766f23-7467-4158-a3dc-6a84c111dc28"]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_msi_no_scope000001/providers/Microsoft.Network/publicIPAddresses/vm1PublicIP?api-version=2017-10-01
  response:
    body: {string: "{\r\n  \"name\": \"vm1PublicIP\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_msi_no_scope000001/providers/Microsoft.Network/publicIPAddresses/vm1PublicIP\"\
        ,\r\n  \"etag\": \"W/\\\"66b8ce77-ac81-43fc-9dc0-76f3f81ca164\\\"\",\r\n \
        \ \"location\": \"westus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n\
        \    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"4917ecef-7eea-4f0a-8861-8b3c4ca12708\"\
        ,\r\n    \"ipAddress\": \"104.42.35.88\",\r\n    \"publicIPAddressVersion\"\
        : \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"idleTimeoutInMinutes\"\
        : 4,\r\n    \"ipTags\": [],\r\n    \"ipConfiguration\": {\r\n      \"id\"\
        : \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_msi_no_scope000001/providers/Microsoft.Network/networkInterfaces/vm1VMNic/ipConfigurations/ipconfigvm1\"\
        \r\n    }\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\
        \n  \"sku\": {\r\n    \"name\": \"Basic\",\r\n    \"tier\": \"Regional\"\r\
        \n  }\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"66b8ce77-ac81-43fc-9dc0-76f3f81ca164"]
    status: {code: 200, message: OK}
[...]
- request:
    body: 'b''{"properties": {"parameters": {"adminPassword": {"value": "PasswordPassword1!"}},
      "mode": "Incremental", "template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "variables": {}, "outputs": {"VMSS": {"value": "[reference(resourceId(\''Microsoft.Compute/virtualMachineScaleSets\'',
      \''vmss1\''),providers(\''Microsoft.Compute\'', \''virtualMachineScaleSets\'').apiVersions[0])]",
      "type": "object"}}, "resources": [{"properties": {"publicIPAllocationMethod":
      "Dynamic"}, "dependsOn": [], "type": "Microsoft.Network/publicIPAddresses",
      "name": "vmss1LBPublicIP", "apiVersion": "2017-10-01", "tags": {}, "location":
      "westus"}, {"properties": {"inboundNatPools": [{"properties": {"frontendIPConfiguration":
      {"id": "[concat(resourceId(\''Microsoft.Network/loadBalancers\'', \''vmss1LB\''),
      \''/frontendIPConfigurations/\'', \''loadBalancerFrontEnd\'')]"}, "protocol":
      "tcp", "frontendPortRangeStart": "50000", "backendPort": 22, "frontendPortRangeEnd":
      "50119"}, "name": "vmss1LBNatPool"}], "frontendIPConfigurations": [{"properties":
      {"publicIPAddress": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_msi_no_scope000001/providers/Microsoft.Network/publicIPAddresses/vmss1LBPublicIP"}},
      "name": "loadBalancerFrontEnd"}], "backendAddressPools": [{"name": "vmss1LBBEPool"}]},
      "dependsOn": ["Microsoft.Network/publicIpAddresses/vmss1LBPublicIP"], "type":
      "Microsoft.Network/loadBalancers", "name": "vmss1LB", "location": "westus",
      "tags": {}, "apiVersion": "2017-10-01"}, {"properties": {"upgradePolicy": {"mode":
      "manual"}, "overprovision": true, "virtualMachineProfile": {"osProfile": {"computerNamePrefix":
      "vmss1aca0", "adminUsername": "admin123", "adminPassword": "[parameters(\''adminPassword\'')]"},
      "networkProfile": {"networkInterfaceConfigurations": [{"properties": {"ipConfigurations":
      [{"properties": {"loadBalancerBackendAddressPools": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_msi_no_scope000001/providers/Microsoft.Network/loadBalancers/vmss1LB/backendAddressPools/vmss1LBBEPool"}],
      "subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_msi_no_scope000001/providers/Microsoft.Network/virtualNetworks/vm1VNET/subnets/vm1Subnet"},
      "loadBalancerInboundNatPools": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_msi_no_scope000001/providers/Microsoft.Network/loadBalancers/vmss1LB/inboundNatPools/vmss1LBNatPool"}]},
      "name": "vmss1aca0IPConfig"}], "primary": "true"}, "name": "vmss1aca0Nic"}]},
      "storageProfile": {"osDisk": {"caching": "ReadWrite", "createOption": "FromImage",
      "managedDisk": {"storageAccountType": null}}, "imageReference": {"offer": "Debian",
      "publisher": "credativ", "version": "latest", "sku": "8"}}}, "singlePlacementGroup":
      null}, "sku": {"name": "Standard_DS1_v2", "capacity": 2}, "type": "Microsoft.Compute/virtualMachineScaleSets",
      "name": "vmss1", "apiVersion": "2017-03-30", "tags": {}, "identity": {"type":
      "SystemAssigned"}, "dependsOn": ["Microsoft.Network/loadBalancers/vmss1LB"],
      "location": "westus"}], "contentVersion": "1.0.0.0", "parameters": {"adminPassword":
      {"metadata": {"description": "Secure adminPassword"}, "type": "securestring"}}}}}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: h[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_msi_no_scope000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1?api-version=2017-03-30
  response:
    body: {string: "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_DS1_v2\",\r\n  \
        \  \"tier\": \"Standard\",\r\n    \"capacity\": 2\r\n  },\r\n  \"properties\"\
        : {\r\n    \"singlePlacementGroup\": true,\r\n    \"upgradePolicy\": {\r\n\
        \      \"mode\": \"Manual\",\r\n      \"automaticOSUpgrade\": false\r\n  \
        \  },\r\n    \"virtualMachineProfile\": {\r\n      \"osProfile\": {\r\n  \
        \      \"computerNamePrefix\": \"vmss1aca0\",\r\n        \"adminUsername\"\
        : \"admin123\",\r\n        \"linuxConfiguration\": {\r\n          \"disablePasswordAuthentication\"\
        : false\r\n        },\r\n        \"secrets\": []\r\n      },\r\n      \"storageProfile\"\
        : {\r\n        \"osDisk\": {\r\n          \"createOption\": \"FromImage\"\
        ,\r\n          \"caching\": \"ReadWrite\",\r\n          \"managedDisk\": {\r\
        \n            \"storageAccountType\": \"Premium_LRS\"\r\n          }\r\n \
        \       },\r\n        \"imageReference\": {\r\n          \"publisher\": \"\
        credativ\",\r\n          \"offer\": \"Debian\",\r\n          \"sku\": \"8\"\
        ,\r\n          \"version\": \"latest\"\r\n        }\r\n      },\r\n      \"\
        networkProfile\": {\"networkInterfaceConfigurations\":[{\"name\":\"vmss1aca0Nic\"\
        ,\"properties\":{\"primary\":true,\"enableAcceleratedNetworking\":false,\"\
        dnsSettings\":{\"dnsServers\":[]},\"ipConfigurations\":[{\"name\":\"vmss1aca0IPConfig\"\
        ,\"properties\":{\"subnet\":{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_msi_no_scope000001/providers/Microsoft.Network/virtualNetworks/vm1VNET/subnets/vm1Subnet\"\
        },\"privateIPAddressVersion\":\"IPv4\",\"loadBalancerBackendAddressPools\"\
        :[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_msi_no_scope000001/providers/Microsoft.Network/loadBalancers/vmss1LB/backendAddressPools/vmss1LBBEPool\"\
        }],\"loadBalancerInboundNatPools\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_msi_no_scope000001/providers/Microsoft.Network/loadBalancers/vmss1LB/inboundNatPools/vmss1LBNatPool\"\
        }]}}]}}]}\r\n    },\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"\
        overprovision\": true,\r\n    \"uniqueId\": \"f3954157-1048-4d73-8f70-dbd154b10e71\"\
        \r\n  },\r\n  \"type\": \"Microsoft.Compute/virtualMachineScaleSets\",\r\n\
        \  \"location\": \"westus\",\r\n  \"tags\": {},\r\n  \"identity\": {\r\n \
        \   \"type\": \"SystemAssigned\",\r\n    \"principalId\": \"e3507c49-6c76-4e75-be9f-1ee0e0263224\"\
        ,\r\n    \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\"\r\n  },\r\n\
        \  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_msi_no_scope000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1\"\
        ,\r\n  \"name\": \"vmss1\"\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-resource: ['Microsoft.Compute/GetVMScaleSet3Min;189,Microsoft.Compute/GetVMScaleSet30Min;1472']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_msi_no_scope000001/providers/Microsoft.Compute/virtualMachines/vm2?api-version=2017-03-30
  response:
    body: {string: "{\r\n  \"properties\": {\r\n    \"vmId\": \"731a4018-f800-4c51-97f4-773395a44990\"\
        ,\r\n    \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_[...]
- request:
    body: 'b''{"properties": {"osProfile": {"secrets": [], "adminUsername": "admin123",
      "computerName": "vm2", "linuxConfiguration": {"disablePasswordAuthentication":
      false}}, "networkProfile": {"networkInterfaces": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_msi_no_scope000001/providers/Microsoft.Network/networkInterfaces/vm2VMNic"}]},
      "storageProfile": {"dataDisks": [], "osDisk": {"osType": "Linux", "managedDisk":
      {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_msi_no_scope000001/providers/Microsoft.Compute/disks/vm2_OsDisk_1_ad44fcbe6ff942c08285eeeed63730a8",
      "storageAccountType": "Premium_LRS"}, "caching": "ReadWrite", "name": "vm2_OsDisk_1_ad44fcbe6ff942c08285eeeed63730a8",
      "createOption": "FromImage", "diskSizeGB": 30}, "imageReference": {"offer":
      "Debian", "publisher": "credativ", "version": [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/e2632d60-2568-4dd9-b123-a1b09ab33e8a?api-version=2017-03-30
  response:
    body: {string: "{\r\n  \"startTime\": \"2018-07-21T02:09:20.6438888+00:00\",\r\
[...]
